body {
  background: #202028;
  color: #fff;
  font-family: sans-serif;
  font-size: 2em;
  text-align: center;

}
canvas {
  border: solid .2em #fff;
  margin: auto;
}

table{
  margin: 0px auto;
}

#tetris{
  height: 90vh;
}

#next{
    height: 29vh;
}

#scoreTable{
      height: 58.5vh;
}
